* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 90%;
    margin: 0 auto;
    padding-top:60px;

}
.debug {
    border: 2px solid rgb(5, 5, 5);
}
.flex{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
body{
    background-color: black;
}
main{
    height:calc(100vh - 40px);
background-color:grey;
}
header{
    background-color: rgb(245, 241, 241);
}
.top{
    z-index:1000;
    justify-content: flex-end;
    position: fixed;
    left: 0;
    right: 0;
    background-color: white;
    height:60px;
}
.box{
    flex-basis: calc(100%/7);
    min-width: 100px;
}
.imput .output{
    flex:0 1 25%;
}
footer{
    flex:0 1 50%
}












































































footer{
    height: 40px;
    background-color: grey;
}